<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
	<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" type="text/css" />
</head>
<body data-spy="scroll">
	<div th:replace="layout::header-index"></div>
	<div class="section">
		<div class="container">
			<form class="form-inline" th:object="${form}">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input class="form-control" th:field="*{keyword}" type="text" placeholder="キーワード" th:value="${keyword}" />
						</div>
						<div class="form-group">
							<select class="form-control" th:field="*{genre}">
								<option value="">ジャンルを選択</option>
								<option th:each="genre : ${genres}" th:text="#{|shop.field.genre.${genre}|}" th:value="${genre}"></option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary btn-search">検索</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="progress">
						<div class="progress-bar" role="progressbar" th:style="'width:' +  ${visitedNum} + '%;'">
							<span th:text="|${visitedNum}% Complete|"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<table class="table">
							<thead>
							<tr>
								<th>#</th>
								<th>ジャンル</th>
								<th>店名</th>
								<th></th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr th:classappend="${shop.visitedAt}?'active'" th:each="shop, stat : ${shops}">
								<td th:text="${stat.index + 1}"></td>
								<td th:text="#{|shop.field.genre.${shop.genre}|}"></td>
								<td><a th:href="@{/shops/describe/{id}(id=${shop.id})}" th:text="${shop.shopName}"></a></td>
								<td>
									<div>
										<a class="btn btn-default glyphicon glyphicon-ok" th:classappend="${shop.visitedAt}?'disabled'" th:href="@{/shops/visited/{id}(id=${shop.id})}" role="button"></a>
									</div>
								</td>
								<td>
									<form method="post" th:action="@{/shops/delete/{id}(id=${shop.id})}">
										<input type="hidden" name="_method" value="delete"/>
										<button class="btn btn-default glyphicon glyphicon-trash" th:classappend="${shop.visitedAt}?'dis-btn'" type="submit"></button>
									</form>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>